<!-- BOTON AÑADIR -->
<div style="text-align: center; padding: 20px">
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#addModal"
    (click)="getTeams()"
  >
    Añadir jugador
  </button>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#searchModal"
    style="margin: 5px; background-color: crimson; border-color: crimson"
  >
    <i class="fa fa-search"></i>
  </button>
</div>

<!-- MODAL BUSCAR -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="searchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Buscar jugador</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          [(ngModel)]="playerSearch"
          type="text"
          placeholder="Buscar"
          style="width: 100%"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="searchPlayersName()"
          data-dismiss="modal"
        >
          Por nombre
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="searchPlayersTeam()"
          data-dismiss="modal"
        >
          Por equipo
        </button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL AÑADIR -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Añadir Jugador</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          [(ngModel)]="newPlayer.name"
          type="text"
          placeholder="Nombre del Jugador"
          style="width: 100%"
        />
        <input
          [(ngModel)]="newPlayer.avatar"
          type="text"
          placeholder="Foto"
          style="width: 100%"
        />

        <select
          class="form-control"
          id="choose-team"
          name="choose-team"
          [(ngModel)]="newPlayer.teamId"
        >
          <option [ngValue]="team.id" *ngFor="let team of teams">
            {{ team.name }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addPlayer()"
          data-dismiss="modal"
        >
          Añadir
        </button>
      </div>
    </div>
  </div>
</div>
<!-- GRID -->
<div
  style="
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    padding: 30px;
  "
>
  <div class="card" *ngFor="let player of players">
    <a href="/players/{{ player.id }}">
      <img
        src="{{ player.avatar }}"
        class="card-img-top"
        alt="Foto del jugador"
      />
      <div class="card-body">
        <h5 class="card-title">{{ player.name }}</h5>
        <p class="card-text">{{ player.team.name }}</p>
      </div>
    </a>
  </div>
</div>
