a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
input {
  margin-bottom: 5px;
}

.paddingtop {
  padding-top: 65px;
}
body {
  background-image: url("./assets/images/grass2.png");
}
.playerimg {
  background-color: rgba(255, 255, 255, 0.541);
  background-position: center;
  height: 250px;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 2;
}
img {
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.playerbackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
}

.details {
  max-width: 300px;
  margin: auto;
  padding: 30px;
}
.gridclass {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  padding: 30px;
  padding-top: 0px;
}

.card {
  background-color: rgb(246, 255, 245);
}
.card-underlined {
  border-bottom: 2px solid #ace99c;
  padding-bottom: 8px;
}
.btn-primary {
  background-color: rgb(108, 185, 108);
  border: none;
}
.textshadow {
  text-shadow: 3px 3px 3px rgb(255 255 255 / 100%);
}
