<!-- BOTON AÑADIR -->
<div class="paddingtop" style="text-align: center">
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#addModal"
  >
    Añadir Liga
  </button>
</div>

<!-- MODAL AÑADIR -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Añadir Liga</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          [(ngModel)]="newLeague.name"
          type="text"
          placeholder="Nombre de la liga"
          style="width: 100%"
        />
        <input
          [(ngModel)]="newLeague.logo"
          type="text"
          placeholder="Logo de la liga"
          style="width: 100%"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addLeague()"
          data-dismiss="modal"
        >
          Añadir
        </button>
      </div>
    </div>
  </div>
</div>
<!-- GRID -->
<h1 class="textshadow" style="text-align: center">Ligas</h1>
<div class="gridclass">
  <div class="card" *ngFor="let league of leagues">
    <a href="/leagues/{{ league.id }}">
      <img src="{{ league.logo }}" class="card-img-top" alt="Logo de la liga" />
      <div class="card-body">
        <h5 class="card-title">{{ league.name }}</h5>
        <!-- <p class="card-text">{{ team.league }}</p> -->
      </div>
    </a>
  </div>
</div>
